/* 
* Sociomantic HTML/CSS Task
* Completed by Neha Chaudhary Seth
*/
@import "compass/css3";
@import "_mixins";

    * {@include box-sizing(border-box);}
    body {
        font-size: 16px;
        font-family: Helvetica, Arial, Sans-Serif;
    }
    // Sets scene display area
    .container {
        @box(100%, 98%, inherit,inherit);
        //margin: 0 auto;
        display: block;
    }
    div {
        @include box(100%, 100%, transparent);
        float:left;
        text-align:center;
 }
  
/*******************************************************/
/* Scene for small Screen. */
    @import "_responsive";
    .roof{
        @include shapeCircle(8.33%, 25%, #106000, 130% 10% 0 0,absolute);
        @include margins(50%, inherit, inherit, 66.66%);
    }
    .wall{
       @include box (25%, 25%, blue,absolute);
        @include margins(58.33%, inherit, inherit, 66.66%);
    }

    .door{
        @include box(90%, 40%, #fff, absolute);
        @include margins(10%, inherit, inherit, 33.33%);
        .doorHandle{
            @include shapeCircle(10%, 10%, #106088, 90%,relative);
            @include margins(80%, 0, 0, 5%);
        }
    }
    .doorSign{
         @include box(7%, 50%, blue,absolute);
        @include margins(50%, 0, 0, 20%);
        @include transform(0, -20); 
    & p{
       font-size: 60%;
        color: white;
        margin-top: 10%;
        }
    }
/*******************************************************/
/* Scene for Medium Screen. */
@media only screen and (min-width: 481px) { 
    @import "_responsive";
    .roof{
        @include shapeCircle(12.50%, 45%, #106000, 130% 10% 0 0,absolute);
        @include margins(37.66%, inherit, inherit, 53.33%);
    }
    .wall{
       @include box (30%, 40%, blue,absolute);
        @include margins(50%, inherit, inherit, 58.33%);
    .window{
        @include box (60%, 60%, white,absolute);
        @include margins(10%, inherit, inherit, 3%);
        table {
            border-collapse: collapse;
            @include box (100%, 100%, transparent,absolute);
            z-index: 2;
            }
        table, td {
            border: 1px solid black;
        }
        .largeWindow{
            visibility: hidden;
        }
    }
}
    .carSmall{
         @include box (60%, 60%, white,absolute);
        @include margins(10%, inherit, inherit, 3%);
        z-index: 1;
        .carRoof{
            @include shapeCircle(40%, 55%, gray, 130% 60% 0 0,absolute);
            @include margins(15%, inherit, inherit, 20%);
        }
        .carBody{
            @include shapeCircle(45%, 90%, gray, 60% 60% 0 0,absolute);
            @include margins(30%, inherit, inherit, 5%);
        }
        .carWheelFront{
            @include shapeCircle(23.5%, 16.65%, pink, 80%,absolute);
            @include margins(52%, inherit, inherit, 20%);
            @include border(10%, solid, darkgray);
        }
        .carWheelRear{
            @include shapeCircle(23.5%, 16.65%, pink, 80%,absolute);
            @include margins(52%, inherit, inherit, 65%);
            @include border(10%, solid, darkgray);
        }
    }
    .door{
    @include box(90%, 30%, #fff, absolute);
    @include margins(7%, inherit, inherit, 65%);
        .doorHandle{
            @include shapeCircle(10%, 10%, #106088, 90%,relative);
            @include margins(100%, 0, 0, 5%);
        }
        
    }
    .doorSign{
         @include box(7%, 50%, blue,absolute);
        @include margins(65%, 0, 0, 20%);
        @include transformX(0, -20);
    & p{
       font-size: 60%;
        font-family: sans-serif;
        color: white;
        margin-top: 5%;
    }
    }
}

/*******************************************************/
/* Scene for Large Screen. */
@media only screen and (min-width: 979px) {
    @import "_responsive";
    .john{
        @include box(35%, 20%, transparent, absolute);
        @include margins(53%, inherit, inherit, 2%);
        .johnFace{
            @include box(30%, 45%, gray, absolute);
            @include margins(12%, inherit, inherit, 30%);
            @include transformX(8,0);
        }
        .johnHair{
            @include shapeCircle(13%, 50%, black, 50% 180% 180% 180%, absolute);
            @include margins(-2%, inherit, inherit, 26%);
            @include transformX(8,0);   
        }
        .johnHairFront{
            @include shapeCircle(13%, 40%, black, 80%, absolute);
            @include margins(0, inherit, inherit, 46%);
            @include transformY(15,0); 
        }
        .johnEar{
           @include shapeCircle(7%, 10%, gray,40% 0 0 40%, absolute);
            @include margins(25%, inherit, inherit, 25%);
            @include transformX(15,0); 
        }   
        .johnEyeRight{
            @include shapeCircle(6%, 10%, black,80%, absolute);
            @include margins(25%, inherit, inherit, 58%);
            @include border(7px, solid, white);
        }
        .johnEyeLeft{
            @include shapeCircle(6%, 10%, black,80%, absolute);
            @include margins(25%, inherit, inherit, 68%);
            @include border(7px, solid, white);
        }
        .johnNose{
            @include shapeCircle(4%, 12%, gray,0 40% 40% 0, absolute);
            @include margins(35%, inherit, inherit, 68%);
            @include transformX(19,0);  
        }
        .johnMouth{
            @include shapeCircle(2%, 10%, darkgray,40% 0 0 40%, absolute);
            @include margins(45%, inherit, inherit, 67%);
            @include transformX(30,15);
        }
        .johnBody{
            @include box(30%, 40%, pink, absolute);
            @include margins(68%, inherit, inherit, 34%);
            @include transformY(8,0); 
        }
        .johnHand{
            /*@include box(20%, 10%, orange, absolute);
            @include margins(68%, inherit, inherit, 30%);
            -ms-transform: skewY(5deg); /* IE 9 */
           // -webkit-transform: skewY(5deg); /* Safari */
            //transform: skewY(8deg); /* Standard syntax */
             //transform: rotate(45deg);*/
            @include shapeCircle(7%, 40%, darkgray, 0 90% 90% 0, absolute);
            @include margins(85%, inherit, inherit, 25%);
            transform: skewX(50deg);
            transform: rotate(-45deg);
        }
        .johnHandWrist{
            @include shapeCircle(7%, 40%, darkgray, 90%, absolute);
            @include margins(99%, inherit, inherit, 29%);
            transform: skewX(50deg);
            transform: rotate(185deg);
        }
        .johnShoppingBagHang{
            @include shapeCircle(10%, 15%, transparent, 90% 90% 0 0, absolute);
            @include margins(95%, inherit, inherit, 56%);
            //transform: skewX(50deg);
            border-top: 3px solid black;
              border-left: 3px solid black;
              border-right: 3px solid black;
            transform: skewX(10deg);
        }
        .johnShoppingBag{
            @include box(30%, 45%, green, absolute);
            @include margins(105%, inherit, inherit, 42%);
            border-bottom: 8px outset brown;
            border-left: 8px solid brown;
        }
        .johnLeg{
            @include box(30%, 25%, blue, absolute);
            @include margins(118%, inherit, inherit, 42%);
            transform: skewX(15deg);
            //transform: rotate(-10deg);
        }
        .johnShoeRight{
            @include shapeCircle(4%, 20%, black,0 40% 20% 0, absolute);
            @include margins(160%, inherit, inherit, 47%); 
            border-right: 4px solid white;
        }
        .johnShoeLeft{
            @include shapeCircle(4%, 20%, black,0 40% 20% 0, absolute);
            @include margins(160%, inherit, inherit, 60%); 
        }
    }
    
/*    <div class="john">
                <div class="johnFace"></div>
                <div class="johnHair"></div>
                <div class="johnHairFront"></div>
                <div class="johnEar"></div>
                <div class="johnEyeRight"></div>
                <div class="johnEyeLeft"></div>
                <div class="johnNose"></div>
                <div class="johnmouth"></div>
                <div class="johnBody"></div>
                <div class="johnHand"></div>
                <div class="johnShoppingBag"></div>
                <div class="johnFoot";
            </div>
    */
    
    .roof{
        @include shapeCircle(15%, 55%, #106000, 130% 10% 0 0,absolute);
        @include margins(35%, inherit, inherit, 45.33%);
    }
    .wall{
        @include box (35%, 50%, blue,absolute);
        @include margins(50%, inherit, inherit, 50%);
    .window{
        @include box (60%, 60%, white,absolute);
        @include margins(10%, inherit, inherit, 3%);
        table {
            border-collapse: collapse;
            @include box(100%, 100%, transparent,absolute);
            z-index: 2;
        }
        table, td, th {
            border: 1px solid black;
        }
        .smallWindow{
            visibility: hidden;
        }
        .largeWindow{   
            visibility: visible;
        }
    }
}   
    .car1{
        visibility: hidden;
    }
    .car2{
        position: absolute;
         @include box (60%, 60%, white,absolute);
        @include margins(10%, inherit, inherit, 3%);
        z-index: 1;
        .car2Body{
            @include box(20%, 70%, transparent, absolute);
            @include margins(45%, inherit, inherit, 20%);
            border: 2px solid blue;
        }
        .car2Storage{
            @include box(20%, 25%, transparent, absolute);
            @include margins(40%, inherit, inherit, -4%);
            border: 2px solid blue;
            -ms-transform: skewY(25deg); /* IE 9 */
            -webkit-transform: skewY(25deg); /* Safari */
            transform: skewY(25deg); /* Standard syntax */
        }
        .car2Bonet{
            @include box(15%, 20%, transparent, absolute);
            @include margins(35%, inherit, inherit, 7%);
            border: 2px solid blue;
            -ms-transform: skewX(65deg); /* IE 9 */
            -webkit-transform: skewX(65deg); /* Safari */
            transform: skewX(65deg); /* Standard syntax */
        }
        .car2BackGlass{
            @include box(16%, 22%, transparent, absolute);
            @include margins(30%, inherit, inherit, 18%);
            border: 2px solid blue;
            -ms-transform: rotate(20deg); /* IE 9 */
            -webkit-transform: rotate(20deg); /* Safari */
            transform: rotate(25deg); /* Standard syntax */
        }
        .car2Roof{
            @include box(13%, 25%, transparent, absolute);
            @include margins(26%, inherit, inherit, 32%);
            border: 2px solid blue;
            -ms-transform: skewX(25deg); /* IE 9 */
            -webkit-transform: skewX(25deg); /* Safari */
            transform: skewX(65deg); /* Standard syntax */
        }
        .car2Window{
             @include box(16%, 0%, transparent, absolute);
            @include margins(34%, inherit, inherit, 76%);
            border: 2px solid blue;
            -ms-transform: skewX(25deg); /* IE 9 */
            -webkit-transform: skewX(25deg); /* Safari */
            transform: skewX(65deg); /* Standard syntax */
        }
        .car2WheelFront{
            @include shapeCircle(23.5%, 16.65%, transparent, 80%,absolute);
            @include margins(50%, inherit, inherit, 60%);
            border-width: 8px;
            border-color: blue;
            border-style: solid;
        }
        .car2WheelRear{
            @include shapeCircle(23.5%, 16.65%, transparent, 80%,absolute);
            @include margins(50%, inherit, inherit, 30%);
            border-width: 8px;
            border-color: blue;
            border-style: solid;
        }
    }
    .door{
    @include box(90%, 30%, #fff, absolute);
    @include margins(7%, inherit, inherit, 65%);
        .doorHandle{
            @include shapeCircle(10%, 10%, #106088, 90%,relative);
            @include margins(100%, 0, 0, 5%);
        }
        /*.doorSignHang{
            position: absolute;
            @include margins(40%, 0, 0, 20%);  
            -ms-transform: rotate(-20deg); /* IE 9 */
          //  -webkit-transform: rotate(-20deg); /* Safari */
        /*    transform: rotate(-20deg);
            #doorSignHang:after{
                @include box(0, 0, transparent, absolute);
                content:"";
                @include margins(1%, 0, 0, 1%);  
            border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 15px solid white;
            }
            #doorSignHang:before {
                @include box(0px, 0px,transparent, absolute);
                content:"";
                border-left: 13px solid transparent;
                border-right: 13px solid transparent;
                border-bottom: 16px solid blue;
            }
    }*/ 
}
    .doorSign{
         @include box(7%, 50%, blue,absolute);
        @include margins(65%, 0, 0, 20%);
        -ms-transform: rotate(-20deg); /* IE 9 */
        -webkit-transform: rotate(-20deg); /* Safari */
        transform: rotate(-20deg);
    & p{
       font-size: 60%;
        font-family: sans-serif;
        color: white;
        margin-top: 5%;
    }
    }
}

