/* Create a rectangular shape*/
/* Create a circle shape */
/* Set the margin top, right, bottom, left*/
/* line 4, ../sass/app.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/app.scss */
body {
  font-size: 16px;
  font-family: Helvetica, Arial, Sans-Serif;
  background-color: #fff;
}

/* line 14, ../sass/app.scss */
a {
  text-decoration: none;
}

/* line 15, ../sass/app.scss */
.container {
  width: 98%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

/* line 22, ../sass/app.scss */
div {
  height: 100%;
  width: 100%;
  background: transparent;
  position: auto;
  float: left;
  text-align: center;
}

/* line 35, ../sass/app.scss */
.col {
  height: 100%;
  width: 100%;
  background: transparent;
  position: relative;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: inline-block;
  padding: 0;
  border-top: none;
}
/* line 41, ../sass/app.scss */
.col .spacer {
  position: inherit;
  padding-top: 100%;
}

/* line 46, ../sass/app.scss */
.grid {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  position: absolute;
  background: linear-gradient(#2098d1 10%, #f69066 55%, #75c700 70%) no-repeat;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #0000e6;
}

/* line 57, ../sass/app.scss */
.roof {
  height: 8.33%;
  width: 25%;
  background: #106000;
  position: absolute;
  border-radius: 130% 10% 0 0;
  margin-top: 50%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 66.66%;
}

/* line 61, ../sass/app.scss */
.wall {
  height: 25%;
  width: 25%;
  background: blue;
  position: absolute;
  margin-top: 58.33%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 66.66%;
}

/* line 66, ../sass/app.scss */
.door {
  height: 90%;
  width: 40%;
  background: #fff;
  position: absolute;
  margin-top: 10%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 33.33%;
  /*.doorSignHang{
      position: absolute;
      @include margins(40%, 0, 0, 20%);  
      -ms-transform: rotate(-20deg); /* IE 9 */
    /*    transform: rotate(-20deg);
        #doorSignHang:after{
            @include box(0, 0, transparent, absolute);
            content:"";
            @include margins(1%, 0, 0, 1%);  
        border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 15px solid white;
        }
        #doorSignHang:before {
            @include box(0px, 0px,transparent, absolute);
            content:"";
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            border-bottom: 16px solid blue;
        }
}*/
}
/* line 69, ../sass/app.scss */
.door .doorHandle {
  height: 10%;
  width: 10%;
  background: #106088;
  position: relative;
  border-radius: 90%;
  margin-top: 80%;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 5%;
}

/* line 96, ../sass/app.scss */
.doorSign {
  height: 7%;
  width: 50%;
  background: blue;
  position: absolute;
  margin-top: 50%;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 20%;
  -ms-transform: rotate(-20deg);
  /* IE 9 */
  -webkit-transform: rotate(-20deg);
  /* Safari */
  transform: rotate(-20deg);
}
/* line 102, ../sass/app.scss */
.doorSign p {
  font-size: 60%;
  font-family: sans-serif;
  color: white;
  margin-top: 10%;
}

/*
#doorHandle{
    @include wall(6px,6px,$position);
    border-radius: 10px;
    margin: $doorHandleMargin 0;
    background: $shopColor;
}

#doorSign{
     @include window(10%, 60%, $shopColor, $position);
    -ms-transform: rotate(-20deg); /* IE 9 */
  /*  transform: rotate(-20deg);
    margin-top: $doorSignMarginTop ;
    margin-left: $doorSignMarginLeft;
    & p{
       font-size: 50%;
        font-family: sans-serif;
        color: $doorColor;
        padding: 2px;
    }
}
#doorSignHang{
    position: $position;
    margin-left: $doorSignHangMarginLeft;
    margin-top: $doorSignHangMarginTop;  
    -ms-transform: rotate(-20deg); /* IE 9 */
/*    transform: rotate(-20deg);
}
    #doorSignHang:after{
        @include wall(0px, 0px, $position);
        content:"";
        margin-top:1px;
        margin-left:1px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 15px solid $doorColor;
    }

    #doorSignHang:before {
        @include wall(0px, 0px, $position);
        content:"";
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 16px solid $primaryColor;
    }





.c {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100px;
  height: 0;
  border: 20px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 100px solid #1abc9c;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
}*/
/*.c{box-sizing: content-box;
    .t {
        $width: 40%;
        width: $width;
	height: 0;
	border-right: $width / 2 solid transparent;
	border-bottom: $width solid red;
	border-left: $width / 2 solid transparent;
	box-sizing: content-box;
	//If you have 'box-sizing:border-box' the trapezoid doesn't work.
    }
}*/
@media only screen and (min-width: 481px) {
  /* line 192, ../sass/app.scss */
  .col {
    height: 100%;
    width: 100%;
    background: transparent;
    position: relative;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    display: inline-block;
    padding: 0;
    border-top: none;
  }
  /* line 198, ../sass/app.scss */
  .col .spacer {
    position: inherit;
    padding-top: 100%;
  }

  /* line 203, ../sass/app.scss */
  .grid {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    position: absolute;
    background: linear-gradient(#2098d1 10%, #f69066 55%, #75c700 70%) no-repeat;
    box-sizing: border-box;
    padding: 0;
    border: 1px solid #0000e6;
  }

  /* line 214, ../sass/app.scss */
  .roof {
    height: 12.5%;
    width: 45%;
    background: #106000;
    position: absolute;
    border-radius: 130% 10% 0 0;
    margin-top: 37.66%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 53.33%;
  }

  /* line 218, ../sass/app.scss */
  .wall {
    height: 30%;
    width: 40%;
    background: blue;
    position: absolute;
    margin-top: 50%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 58.33%;
  }
  /* line 221, ../sass/app.scss */
  .wall .window {
    height: 60%;
    width: 60%;
    background: white;
    position: absolute;
    margin-top: 10%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 3%;
  }
  /* line 224, ../sass/app.scss */
  .wall .window table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 2;
  }
  /* line 229, ../sass/app.scss */
  .wall .window table, .wall .window td {
    border: 1px solid black;
  }
  /* line 232, ../sass/app.scss */
  .wall .window .largeWindow {
    visibility: hidden;
  }

  /* line 237, ../sass/app.scss */
  .car1 {
    position: absolute;
    height: 60%;
    width: 60%;
    background: white;
    position: absolute;
    margin-top: 10%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 3%;
    z-index: 1;
  }
  /* line 242, ../sass/app.scss */
  .car1 .carRoof {
    height: 40%;
    width: 55%;
    background: gray;
    position: absolute;
    border-radius: 130% 60% 0 0;
    margin-top: 15%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 20%;
    /*border-width: 2%;
    border-color: darkgray;
    border-style: solid;*/
  }
  /* line 250, ../sass/app.scss */
  .car1 .carBody {
    height: 45%;
    width: 90%;
    background: gray;
    position: absolute;
    border-radius: 60% 60% 0 0;
    margin-top: 30%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 5%;
  }
  /* line 254, ../sass/app.scss */
  .car1 .carWheelFront {
    height: 23.5%;
    width: 16.65%;
    background: pink;
    position: absolute;
    border-radius: 80%;
    margin-top: 52%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 20%;
    border-width: 10%;
    border-color: darkgray;
    border-style: solid;
  }
  /* line 261, ../sass/app.scss */
  .car1 .carWheelRear {
    height: 23.5%;
    width: 16.65%;
    background: pink;
    position: absolute;
    border-radius: 80%;
    margin-top: 52%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 65%;
    border-width: 10%;
    border-color: darkgray;
    border-style: solid;
  }

  /* line 269, ../sass/app.scss */
  .door {
    height: 90%;
    width: 30%;
    background: #fff;
    position: absolute;
    margin-top: 7%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 65%;
    /*.doorSignHang{
        position: absolute;
        @include margins(40%, 0, 0, 20%);  
        -ms-transform: rotate(-20deg); /* IE 9 */
    /*    transform: rotate(-20deg);
        #doorSignHang:after{
            @include box(0, 0, transparent, absolute);
            content:"";
            @include margins(1%, 0, 0, 1%);  
        border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 15px solid white;
        }
        #doorSignHang:before {
            @include box(0px, 0px,transparent, absolute);
            content:"";
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            border-bottom: 16px solid blue;
        }
}*/
  }
  /* line 272, ../sass/app.scss */
  .door .doorHandle {
    height: 10%;
    width: 10%;
    background: #106088;
    position: relative;
    border-radius: 90%;
    margin-top: 100%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5%;
  }

  /* line 299, ../sass/app.scss */
  .doorSign {
    height: 7%;
    width: 50%;
    background: blue;
    position: absolute;
    margin-top: 65%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 20%;
    -ms-transform: rotate(-20deg);
    /* IE 9 */
    -webkit-transform: rotate(-20deg);
    /* Safari */
    transform: rotate(-20deg);
  }
  /* line 305, ../sass/app.scss */
  .doorSign p {
    font-size: 60%;
    font-family: sans-serif;
    color: white;
    margin-top: 5%;
  }
}
@media only screen and (min-width: 979px) {
  /* line 316, ../sass/app.scss */
  .col {
    height: 100%;
    width: 100%;
    background: transparent;
    position: relative;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    display: inline-block;
    padding: 0;
    border-top: none;
  }
  /* line 322, ../sass/app.scss */
  .col .spacer {
    position: inherit;
    padding-top: 100%;
  }

  /* line 327, ../sass/app.scss */
  .grid {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    position: absolute;
    background: linear-gradient(#2098d1 10%, #f69066 55%, #75c700 70%) no-repeat;
    box-sizing: border-box;
    padding: 0;
    border: 1px solid #0000e6;
  }

  /* line 341, ../sass/app.scss */
  .john {
    height: 35%;
    width: 20%;
    background: transparent;
    position: absolute;
    margin-top: 53%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 2%;
  }
  /* line 344, ../sass/app.scss */
  .john .johnFace {
    height: 30%;
    width: 45%;
    background: gray;
    position: absolute;
    margin-top: 12%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 30%;
    -ms-transform: skewY(5deg);
    /* IE 9 */
    -webkit-transform: skewY(5deg);
    /* Safari */
    transform: skewX(8deg);
    /* Standard syntax */
  }
  /* line 351, ../sass/app.scss */
  .john .johnHair {
    height: 13%;
    width: 45%;
    background: black;
    position: absolute;
    border-radius: 0 0 180% 180%;
    margin-top: 0;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 26%;
    -ms-transform: skewY(5deg);
    /* IE 9 */
    -webkit-transform: skewY(5deg);
    /* Safari */
    transform: skewX(8deg);
    /* Standard syntax */
  }
  /* line 358, ../sass/app.scss */
  .john .johnHairFront {
    height: 13%;
    width: 45%;
    background: black;
    position: absolute;
    border-radius: 80%;
    margin-top: 0;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 46%;
    -ms-transform: skewY(5deg);
    /* IE 9 */
    -webkit-transform: skewY(5deg);
    /* Safari */
    transform: skewX(20deg);
    /* Standard syntax */
  }
  /* line 365, ../sass/app.scss */
  .john .johnEar {
    height: 7%;
    width: 10%;
    background: gray;
    position: absolute;
    border-radius: 40% 0 0 40%;
    margin-top: 25%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 25%;
    -ms-transform: skewX(5deg);
    /* IE 9 */
    -webkit-transform: skewX(5deg);
    /* Safari */
    transform: skewX(15deg);
    /* Standard syntax */
  }
  /* line 372, ../sass/app.scss */
  .john .johnEyeRight {
    height: 6%;
    width: 10%;
    background: black;
    position: absolute;
    border-radius: 80%;
    margin-top: 25%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 58%;
    border-width: 8px;
    border-color: white;
    border-style: solid;
  }
  /* line 379, ../sass/app.scss */
  .john .johnEyeLeft {
    height: 6%;
    width: 10%;
    background: black;
    position: absolute;
    border-radius: 80%;
    margin-top: 25%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 68%;
    border-width: 8px;
    border-color: white;
    border-style: solid;
  }
  /* line 386, ../sass/app.scss */
  .john .johnNose {
    height: 4%;
    width: 12%;
    background: gray;
    position: absolute;
    border-radius: 0 40% 40% 0;
    margin-top: 35%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 68%;
    -ms-transform: skewX(5deg);
    /* IE 9 */
    -webkit-transform: skewX(5deg);
    /* Safari */
    transform: skewX(19deg);
    /* Standard syntax */
  }
  /* line 393, ../sass/app.scss */
  .john .johnMouth {
    height: 2%;
    width: 10%;
    background: darkgray;
    position: absolute;
    border-radius: 40% 0 0 40%;
    margin-top: 45%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 67%;
    -ms-transform: skewX(5deg);
    /* IE 9 */
    -webkit-transform: skewX(5deg);
    /* Safari */
    transform: skewX(30deg);
    /* Standard syntax */
    transform: rotate(15deg);
  }
  /* line 402, ../sass/app.scss */
  .john .johnBody {
    height: 30%;
    width: 40%;
    background: pink;
    position: absolute;
    margin-top: 68%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 34%;
    -ms-transform: skewY(5deg);
    /* IE 9 */
    -webkit-transform: skewY(5deg);
    /* Safari */
    transform: skewY(8deg);
    /* Standard syntax */
  }
  /* line 409, ../sass/app.scss */
  .john .johnHand {
    /*@include box(20%, 10%, orange, absolute);
    @include margins(68%, inherit, inherit, 30%);
    -ms-transform: skewY(5deg); /* IE 9 */
    height: 7%;
    width: 40%;
    background: darkgray;
    position: absolute;
    border-radius: 0 90% 90% 0;
    margin-top: 85%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 25%;
    transform: skewX(50deg);
    transform: rotate(-45deg);
  }
  /* line 421, ../sass/app.scss */
  .john .johnHandWrist {
    height: 7%;
    width: 40%;
    background: darkgray;
    position: absolute;
    border-radius: 90%;
    margin-top: 99%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 29%;
    transform: skewX(50deg);
    transform: rotate(185deg);
  }
  /* line 427, ../sass/app.scss */
  .john .johnShoppingBagHang {
    height: 10%;
    width: 15%;
    background: transparent;
    position: absolute;
    border-radius: 90% 90% 0 0;
    margin-top: 95%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 56%;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transform: skewX(10deg);
  }
  /* line 436, ../sass/app.scss */
  .john .johnShoppingBag {
    height: 30%;
    width: 45%;
    background: green;
    position: absolute;
    margin-top: 105%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 42%;
    border-bottom: 8px outset brown;
    border-left: 8px solid brown;
  }
  /* line 442, ../sass/app.scss */
  .john .johnLeg {
    height: 30%;
    width: 25%;
    background: blue;
    position: absolute;
    margin-top: 118%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 42%;
    transform: skewX(15deg);
  }
  /* line 448, ../sass/app.scss */
  .john .johnShoeRight {
    height: 4%;
    width: 20%;
    background: black;
    position: absolute;
    border-radius: 0 40% 20% 0;
    margin-top: 160%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 47%;
    border-right: 4px solid white;
  }
  /* line 453, ../sass/app.scss */
  .john .johnShoeLeft {
    height: 4%;
    width: 20%;
    background: black;
    position: absolute;
    border-radius: 0 40% 20% 0;
    margin-top: 160%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 60%;
  }

  /*    <div class="john">
                  <div class="johnFace"></div>
                  <div class="johnHair"></div>
                  <div class="johnHairFront"></div>
                  <div class="johnEar"></div>
                  <div class="johnEyeRight"></div>
                  <div class="johnEyeLeft"></div>
                  <div class="johnNose"></div>
                  <div class="johnmouth"></div>
                  <div class="johnBody"></div>
                  <div class="johnHand"></div>
                  <div class="johnShoppingBag"></div>
                  <div class="johnFoot";
              </div>
      */
  /* line 475, ../sass/app.scss */
  .roof {
    height: 15%;
    width: 55%;
    background: #106000;
    position: absolute;
    border-radius: 130% 10% 0 0;
    margin-top: 35%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 45.33%;
  }

  /* line 479, ../sass/app.scss */
  .wall {
    height: 35%;
    width: 50%;
    background: blue;
    position: absolute;
    margin-top: 50%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 50%;
  }
  /* line 482, ../sass/app.scss */
  .wall .window {
    height: 60%;
    width: 60%;
    background: white;
    position: absolute;
    margin-top: 10%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 3%;
  }
  /* line 485, ../sass/app.scss */
  .wall .window table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 2;
  }
  /* line 490, ../sass/app.scss */
  .wall .window table, .wall .window td, .wall .window th {
    border: 1px solid black;
  }
  /* line 493, ../sass/app.scss */
  .wall .window .smallWindow {
    visibility: hidden;
  }
  /* line 496, ../sass/app.scss */
  .wall .window .largeWindow {
    visibility: visible;
  }

  /* line 501, ../sass/app.scss */
  .car1 {
    visibility: hidden;
  }

  /* line 504, ../sass/app.scss */
  .car2 {
    position: absolute;
    height: 60%;
    width: 60%;
    background: white;
    position: absolute;
    margin-top: 10%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 3%;
    z-index: 1;
  }
  /* line 509, ../sass/app.scss */
  .car2 .car2Body {
    height: 20%;
    width: 70%;
    background: transparent;
    position: absolute;
    margin-top: 45%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 20%;
    border: 2px solid blue;
  }
  /* line 514, ../sass/app.scss */
  .car2 .car2Storage {
    height: 20%;
    width: 25%;
    background: transparent;
    position: absolute;
    margin-top: 40%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: -4%;
    border: 2px solid blue;
    -ms-transform: skewY(25deg);
    /* IE 9 */
    -webkit-transform: skewY(25deg);
    /* Safari */
    transform: skewY(25deg);
    /* Standard syntax */
  }
  /* line 522, ../sass/app.scss */
  .car2 .car2Bonet {
    height: 15%;
    width: 20%;
    background: transparent;
    position: absolute;
    margin-top: 35%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 7%;
    border: 2px solid blue;
    -ms-transform: skewX(65deg);
    /* IE 9 */
    -webkit-transform: skewX(65deg);
    /* Safari */
    transform: skewX(65deg);
    /* Standard syntax */
  }
  /* line 530, ../sass/app.scss */
  .car2 .car2BackGlass {
    height: 16%;
    width: 22%;
    background: transparent;
    position: absolute;
    margin-top: 30%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 18%;
    border: 2px solid blue;
    -ms-transform: rotate(20deg);
    /* IE 9 */
    -webkit-transform: rotate(20deg);
    /* Safari */
    transform: rotate(25deg);
    /* Standard syntax */
  }
  /* line 538, ../sass/app.scss */
  .car2 .car2Roof {
    height: 13%;
    width: 25%;
    background: transparent;
    position: absolute;
    margin-top: 26%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 32%;
    border: 2px solid blue;
    -ms-transform: skewX(25deg);
    /* IE 9 */
    -webkit-transform: skewX(25deg);
    /* Safari */
    transform: skewX(65deg);
    /* Standard syntax */
  }
  /* line 546, ../sass/app.scss */
  .car2 .car2Window {
    height: 16%;
    width: 0%;
    background: transparent;
    position: absolute;
    margin-top: 34%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 76%;
    border: 2px solid blue;
    -ms-transform: skewX(25deg);
    /* IE 9 */
    -webkit-transform: skewX(25deg);
    /* Safari */
    transform: skewX(65deg);
    /* Standard syntax */
  }
  /* line 554, ../sass/app.scss */
  .car2 .car2WheelFront {
    height: 23.5%;
    width: 16.65%;
    background: transparent;
    position: absolute;
    border-radius: 80%;
    margin-top: 50%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 60%;
    border-width: 8px;
    border-color: blue;
    border-style: solid;
  }
  /* line 561, ../sass/app.scss */
  .car2 .car2WheelRear {
    height: 23.5%;
    width: 16.65%;
    background: transparent;
    position: absolute;
    border-radius: 80%;
    margin-top: 50%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 30%;
    border-width: 8px;
    border-color: blue;
    border-style: solid;
  }

  /* line 569, ../sass/app.scss */
  .door {
    height: 90%;
    width: 30%;
    background: #fff;
    position: absolute;
    margin-top: 7%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 65%;
    /*.doorSignHang{
        position: absolute;
        @include margins(40%, 0, 0, 20%);  
        -ms-transform: rotate(-20deg); /* IE 9 */
    /*    transform: rotate(-20deg);
        #doorSignHang:after{
            @include box(0, 0, transparent, absolute);
            content:"";
            @include margins(1%, 0, 0, 1%);  
        border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 15px solid white;
        }
        #doorSignHang:before {
            @include box(0px, 0px,transparent, absolute);
            content:"";
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            border-bottom: 16px solid blue;
        }
}*/
  }
  /* line 572, ../sass/app.scss */
  .door .doorHandle {
    height: 10%;
    width: 10%;
    background: #106088;
    position: relative;
    border-radius: 90%;
    margin-top: 100%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5%;
  }

  /* line 599, ../sass/app.scss */
  .doorSign {
    height: 7%;
    width: 50%;
    background: blue;
    position: absolute;
    margin-top: 65%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 20%;
    -ms-transform: rotate(-20deg);
    /* IE 9 */
    -webkit-transform: rotate(-20deg);
    /* Safari */
    transform: rotate(-20deg);
  }
  /* line 605, ../sass/app.scss */
  .doorSign p {
    font-size: 60%;
    font-family: sans-serif;
    color: white;
    margin-top: 5%;
  }
}
