/* 
* Sociomantic HTML/CSS Task
* Completed by Neha Chaudhary Seth
*/
/* browser support */
/* Create a rectangular shape*/
/* Create a circle shape */
/* Set border properties  */
/* Set the margin top, right, bottom, left*/
/* line 8, ../sass/app.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/app.scss */
body {
  font-size: 16px;
  font-family: Helvetica, Arial, Sans-Serif;
}

/* line 14, ../sass/app.scss */
.container {
  @box (100%, 98%, inherit,inherit);
  display: block;
}

/* line 19, ../sass/app.scss */
div {
  height: 100%;
  width: 100%;
  background: transparent;
  position: auto;
  float: left;
  text-align: center;
}

/*******************************************************/
/* Scene for small Screen. */
/* line 1, ../sass/_responsive.scss */
.col {
  height: 0%;
  width: 100%;
  background: transparent;
  position: relative;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: inline-block;
}
/* line 8, ../sass/_responsive.scss */
.col .spacer {
  position: inherit;
  padding-top: 100%;
}

/* line 13, ../sass/_responsive.scss */
.grid {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  position: absolute;
  background: linear-gradient(#2098d1 10%, #f69066 55%, #75c700 70%) no-repeat;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #0000e6;
}

/* ----------------------------------------------*/
/* john drawing css made with rectangle and circle with some transform */
/* line 3, ../sass/_john.scss */
.john {
  height: 35%;
  width: 20%;
  background: transparent;
  position: absolute;
  margin-top: 53%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 2%;
}
/* line 6, ../sass/_john.scss */
.john .johnFace {
  height: 30%;
  width: 45%;
  background: gray;
  position: absolute;
  margin-top: 12%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 30%;
  -ms-transform: skewX(8deg) rotate(0deg);
  /* IE 9 */
  -webkit-transform: skewX(8deg) rotate(0deg);
  /* Safari */
  transform: skewX(8deg) rotate(0deg);
}
/* line 11, ../sass/_john.scss */
.john .johnHair {
  height: 13%;
  width: 50%;
  background: black;
  position: absolute;
  border-radius: 50% 180% 180% 180%;
  margin-top: -2%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 26%;
  -ms-transform: skewX(8deg) rotate(0deg);
  /* IE 9 */
  -webkit-transform: skewX(8deg) rotate(0deg);
  /* Safari */
  transform: skewX(8deg) rotate(0deg);
}
/* line 16, ../sass/_john.scss */
.john .johnHairFront {
  height: 13%;
  width: 40%;
  background: black;
  position: absolute;
  border-radius: 80%;
  margin-top: 0;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 46%;
  -ms-transform: skewY(15deg) rotate(0deg);
  /* IE 9 */
  -webkit-transform: skewY(15deg) rotate(0deg);
  /* Safari */
  transform: skewY(15deg) rotate(0deg);
}
/* line 21, ../sass/_john.scss */
.john .johnEar {
  height: 7%;
  width: 10%;
  background: gray;
  position: absolute;
  border-radius: 40% 0 0 40%;
  margin-top: 25%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 25%;
  -ms-transform: skewX(15deg) rotate(0deg);
  /* IE 9 */
  -webkit-transform: skewX(15deg) rotate(0deg);
  /* Safari */
  transform: skewX(15deg) rotate(0deg);
}
/* line 26, ../sass/_john.scss */
.john .johnEyeRight {
  height: 5%;
  width: 9%;
  background: black;
  position: absolute;
  border-radius: 80%;
  margin-top: 25%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 58%;
  border: .4em solid white;
}
/* line 31, ../sass/_john.scss */
.john .johnEyeLeft {
  height: 5%;
  width: 9%;
  background: black;
  position: absolute;
  border-radius: 80%;
  margin-top: 25%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 68%;
  border: .4em solid white;
}
/* line 36, ../sass/_john.scss */
.john .johnNose {
  height: 4%;
  width: 12%;
  background: gray;
  position: absolute;
  border-radius: 0 40% 40% 0;
  margin-top: 35%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 68%;
  -ms-transform: skewX(19deg) rotate(0deg);
  /* IE 9 */
  -webkit-transform: skewX(19deg) rotate(0deg);
  /* Safari */
  transform: skewX(19deg) rotate(0deg);
}
/* line 41, ../sass/_john.scss */
.john .johnMouth {
  height: 2%;
  width: 10%;
  background: darkgray;
  position: absolute;
  border-radius: 40% 0 0 40%;
  margin-top: 45%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 67%;
  -ms-transform: skewX(30deg) rotate(15deg);
  /* IE 9 */
  -webkit-transform: skewX(30deg) rotate(15deg);
  /* Safari */
  transform: skewX(30deg) rotate(15deg);
}
/* line 46, ../sass/_john.scss */
.john .johnBody {
  height: 30%;
  width: 40%;
  background: pink;
  position: absolute;
  margin-top: 68%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 34%;
  -ms-transform: skewY(8deg) rotate(0deg);
  /* IE 9 */
  -webkit-transform: skewY(8deg) rotate(0deg);
  /* Safari */
  transform: skewY(8deg) rotate(0deg);
}
/* line 51, ../sass/_john.scss */
.john .johnHand {
  height: 7%;
  width: 40%;
  background: darkgray;
  position: absolute;
  border-radius: 0 90% 90% 0;
  margin-top: 85%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 25%;
  -ms-transform: skewX(5deg) rotate(-45deg);
  /* IE 9 */
  -webkit-transform: skewX(5deg) rotate(-45deg);
  /* Safari */
  transform: skewX(5deg) rotate(-45deg);
}
/* line 56, ../sass/_john.scss */
.john .johnHandWrist {
  height: 8%;
  width: 35%;
  background: darkgray;
  position: absolute;
  border-radius: 90%;
  margin-top: 99%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 30%;
  -ms-transform: skewX(50deg) rotate(185deg);
  /* IE 9 */
  -webkit-transform: skewX(50deg) rotate(185deg);
  /* Safari */
  transform: skewX(50deg) rotate(185deg);
}
/* line 61, ../sass/_john.scss */
.john .johnShoppingBagHang {
  height: 10%;
  width: 15%;
  background: transparent;
  position: absolute;
  border-radius: 90% 90% 0 0;
  margin-top: 97%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 56%;
  -ms-transform: skewX(10deg) rotate(0deg);
  /* IE 9 */
  -webkit-transform: skewX(10deg) rotate(0deg);
  /* Safari */
  transform: skewX(10deg) rotate(0deg);
  border-left: 3px solid black;
  border-right: 3px solid black;
}
/* line 68, ../sass/_john.scss */
.john .johnShoppingBag {
  height: 30%;
  width: 45%;
  background: green;
  position: absolute;
  margin-top: 105%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 42%;
  border-bottom: 8px outset brown;
  border-left: 8px solid brown;
}
/* line 74, ../sass/_john.scss */
.john .johnLeg {
  height: 30%;
  width: 25%;
  background: blue;
  position: absolute;
  margin-top: 118%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 42%;
  -ms-transform: skewX(15deg) rotate(0deg);
  /* IE 9 */
  -webkit-transform: skewX(15deg) rotate(0deg);
  /* Safari */
  transform: skewX(15deg) rotate(0deg);
}
/* line 79, ../sass/_john.scss */
.john .johnShoeRight {
  height: 4%;
  width: 20%;
  background: black;
  position: absolute;
  border-radius: 0 40% 20% 0;
  margin-top: 160%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 47%;
  border-right: 4px solid white;
}
/* line 84, ../sass/_john.scss */
.john .johnShoeLeft {
  height: 4%;
  width: 20%;
  background: black;
  position: absolute;
  border-radius: 0 40% 20% 0;
  margin-top: 160%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 60%;
}

/* line 29, ../sass/app.scss */
.roof {
  height: 8.33%;
  width: 25%;
  background: #106000;
  position: absolute;
  border-radius: 130% 10% 0 0;
  margin-top: 50%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 66.66%;
}

/* line 33, ../sass/app.scss */
.wall {
  height: 25%;
  width: 25%;
  background: blue;
  position: absolute;
  margin-top: 58.33%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 66.66%;
}

/* line 38, ../sass/app.scss */
.door {
  height: 90%;
  width: 40%;
  background: #fff;
  position: absolute;
  margin-top: 10%;
  margin-right: inherit;
  margin-bottom: inherit;
  margin-left: 33.33%;
}
/* line 41, ../sass/app.scss */
.door .doorHandle {
  height: 10%;
  width: 10%;
  background: #106088;
  position: relative;
  border-radius: 90%;
  margin-top: 80%;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 5%;
}

/* line 46, ../sass/app.scss */
.doorSign {
  height: 7%;
  width: 50%;
  background: blue;
  position: absolute;
  margin-top: 50%;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 20%;
  -moz-transform: 0;
  -webkit-transform: 0;
  transform: 0;
}
/* line 50, ../sass/app.scss */
.doorSign p {
  font-size: 60%;
  color: white;
  margin-top: 10%;
}

/*******************************************************/
/* Scene for Medium Screen. */
@media only screen and (min-width: 481px) {
  /* line 1, ../sass/_responsive.scss */
  .col {
    height: 0%;
    width: 100%;
    background: transparent;
    position: relative;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    display: inline-block;
  }
  /* line 8, ../sass/_responsive.scss */
  .col .spacer {
    position: inherit;
    padding-top: 100%;
  }

  /* line 13, ../sass/_responsive.scss */
  .grid {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    position: absolute;
    background: linear-gradient(#2098d1 10%, #f69066 55%, #75c700 70%) no-repeat;
    box-sizing: border-box;
    padding: 0;
    border: 1px solid #0000e6;
  }

  /* ----------------------------------------------*/
  /* john drawing css made with rectangle and circle with some transform */
  /* line 3, ../sass/_john.scss */
  .john {
    height: 35%;
    width: 20%;
    background: transparent;
    position: absolute;
    margin-top: 53%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 2%;
  }
  /* line 6, ../sass/_john.scss */
  .john .johnFace {
    height: 30%;
    width: 45%;
    background: gray;
    position: absolute;
    margin-top: 12%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 30%;
    -ms-transform: skewX(8deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(8deg) rotate(0deg);
    /* Safari */
    transform: skewX(8deg) rotate(0deg);
  }
  /* line 11, ../sass/_john.scss */
  .john .johnHair {
    height: 13%;
    width: 50%;
    background: black;
    position: absolute;
    border-radius: 50% 180% 180% 180%;
    margin-top: -2%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 26%;
    -ms-transform: skewX(8deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(8deg) rotate(0deg);
    /* Safari */
    transform: skewX(8deg) rotate(0deg);
  }
  /* line 16, ../sass/_john.scss */
  .john .johnHairFront {
    height: 13%;
    width: 40%;
    background: black;
    position: absolute;
    border-radius: 80%;
    margin-top: 0;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 46%;
    -ms-transform: skewY(15deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewY(15deg) rotate(0deg);
    /* Safari */
    transform: skewY(15deg) rotate(0deg);
  }
  /* line 21, ../sass/_john.scss */
  .john .johnEar {
    height: 7%;
    width: 10%;
    background: gray;
    position: absolute;
    border-radius: 40% 0 0 40%;
    margin-top: 25%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 25%;
    -ms-transform: skewX(15deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(15deg) rotate(0deg);
    /* Safari */
    transform: skewX(15deg) rotate(0deg);
  }
  /* line 26, ../sass/_john.scss */
  .john .johnEyeRight {
    height: 5%;
    width: 9%;
    background: black;
    position: absolute;
    border-radius: 80%;
    margin-top: 25%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 58%;
    border: .4em solid white;
  }
  /* line 31, ../sass/_john.scss */
  .john .johnEyeLeft {
    height: 5%;
    width: 9%;
    background: black;
    position: absolute;
    border-radius: 80%;
    margin-top: 25%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 68%;
    border: .4em solid white;
  }
  /* line 36, ../sass/_john.scss */
  .john .johnNose {
    height: 4%;
    width: 12%;
    background: gray;
    position: absolute;
    border-radius: 0 40% 40% 0;
    margin-top: 35%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 68%;
    -ms-transform: skewX(19deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(19deg) rotate(0deg);
    /* Safari */
    transform: skewX(19deg) rotate(0deg);
  }
  /* line 41, ../sass/_john.scss */
  .john .johnMouth {
    height: 2%;
    width: 10%;
    background: darkgray;
    position: absolute;
    border-radius: 40% 0 0 40%;
    margin-top: 45%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 67%;
    -ms-transform: skewX(30deg) rotate(15deg);
    /* IE 9 */
    -webkit-transform: skewX(30deg) rotate(15deg);
    /* Safari */
    transform: skewX(30deg) rotate(15deg);
  }
  /* line 46, ../sass/_john.scss */
  .john .johnBody {
    height: 30%;
    width: 40%;
    background: pink;
    position: absolute;
    margin-top: 68%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 34%;
    -ms-transform: skewY(8deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewY(8deg) rotate(0deg);
    /* Safari */
    transform: skewY(8deg) rotate(0deg);
  }
  /* line 51, ../sass/_john.scss */
  .john .johnHand {
    height: 7%;
    width: 40%;
    background: darkgray;
    position: absolute;
    border-radius: 0 90% 90% 0;
    margin-top: 85%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 25%;
    -ms-transform: skewX(5deg) rotate(-45deg);
    /* IE 9 */
    -webkit-transform: skewX(5deg) rotate(-45deg);
    /* Safari */
    transform: skewX(5deg) rotate(-45deg);
  }
  /* line 56, ../sass/_john.scss */
  .john .johnHandWrist {
    height: 8%;
    width: 35%;
    background: darkgray;
    position: absolute;
    border-radius: 90%;
    margin-top: 99%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 30%;
    -ms-transform: skewX(50deg) rotate(185deg);
    /* IE 9 */
    -webkit-transform: skewX(50deg) rotate(185deg);
    /* Safari */
    transform: skewX(50deg) rotate(185deg);
  }
  /* line 61, ../sass/_john.scss */
  .john .johnShoppingBagHang {
    height: 10%;
    width: 15%;
    background: transparent;
    position: absolute;
    border-radius: 90% 90% 0 0;
    margin-top: 97%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 56%;
    -ms-transform: skewX(10deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(10deg) rotate(0deg);
    /* Safari */
    transform: skewX(10deg) rotate(0deg);
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
  /* line 68, ../sass/_john.scss */
  .john .johnShoppingBag {
    height: 30%;
    width: 45%;
    background: green;
    position: absolute;
    margin-top: 105%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 42%;
    border-bottom: 8px outset brown;
    border-left: 8px solid brown;
  }
  /* line 74, ../sass/_john.scss */
  .john .johnLeg {
    height: 30%;
    width: 25%;
    background: blue;
    position: absolute;
    margin-top: 118%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 42%;
    -ms-transform: skewX(15deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(15deg) rotate(0deg);
    /* Safari */
    transform: skewX(15deg) rotate(0deg);
  }
  /* line 79, ../sass/_john.scss */
  .john .johnShoeRight {
    height: 4%;
    width: 20%;
    background: black;
    position: absolute;
    border-radius: 0 40% 20% 0;
    margin-top: 160%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 47%;
    border-right: 4px solid white;
  }
  /* line 84, ../sass/_john.scss */
  .john .johnShoeLeft {
    height: 4%;
    width: 20%;
    background: black;
    position: absolute;
    border-radius: 0 40% 20% 0;
    margin-top: 160%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 60%;
  }

  /* Shop with small car*/
  /* line 62, ../sass/app.scss */
  .roof {
    height: 12.5%;
    width: 45%;
    background: #106000;
    position: absolute;
    border-radius: 130% 10% 0 0;
    margin-top: 37.66%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 53.33%;
  }

  /* line 66, ../sass/app.scss */
  .wall {
    height: 30%;
    width: 40%;
    background: blue;
    position: absolute;
    margin-top: 50%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 58.33%;
  }
  /* line 69, ../sass/app.scss */
  .wall .window {
    height: 60%;
    width: 60%;
    background: white;
    position: absolute;
    margin-top: 10%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 3%;
  }
  /* line 72, ../sass/app.scss */
  .wall .window table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 2;
  }
  /* line 77, ../sass/app.scss */
  .wall .window table, .wall .window td {
    border: 1px solid black;
  }
  /* line 80, ../sass/app.scss */
  .wall .window .largeWindow {
    visibility: hidden;
  }

  /* line 85, ../sass/app.scss */
  .carSmall {
    height: 60%;
    width: 60%;
    background: white;
    position: absolute;
    margin-top: 10%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 3%;
    z-index: 1;
  }
  /* line 89, ../sass/app.scss */
  .carSmall .carRoof {
    height: 40%;
    width: 55%;
    background: gray;
    position: absolute;
    border-radius: 130% 60% 0 0;
    margin-top: 15%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 20%;
  }
  /* line 93, ../sass/app.scss */
  .carSmall .carBody {
    height: 45%;
    width: 90%;
    background: gray;
    position: absolute;
    border-radius: 60% 60% 0 0;
    margin-top: 30%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 5%;
  }
  /* line 97, ../sass/app.scss */
  .carSmall .carWheelFront {
    height: 23.5%;
    width: 16.65%;
    background: pink;
    position: absolute;
    border-radius: 80%;
    margin-top: 52%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 20%;
    border-width: 10%;
    border-style: solid;
    border-color: darkgray;
  }
  /* line 102, ../sass/app.scss */
  .carSmall .carWheelRear {
    height: 23.5%;
    width: 16.65%;
    background: pink;
    position: absolute;
    border-radius: 80%;
    margin-top: 52%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 65%;
    border-width: 10%;
    border-style: solid;
    border-color: darkgray;
  }

  /* line 108, ../sass/app.scss */
  .door {
    height: 90%;
    width: 30%;
    background: #fff;
    position: absolute;
    margin-top: 7%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 65%;
  }
  /* line 111, ../sass/app.scss */
  .door .doorHandle {
    height: 10%;
    width: 10%;
    background: #106088;
    position: relative;
    border-radius: 90%;
    margin-top: 100%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5%;
  }

  /* line 117, ../sass/app.scss */
  .doorSign {
    height: 7%;
    width: 50%;
    background: blue;
    position: absolute;
    margin-top: 65%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 20%;
    -ms-transform: skewX(0deg) rotate(-20deg);
    /* IE 9 */
    -webkit-transform: skewX(0deg) rotate(-20deg);
    /* Safari */
    transform: skewX(0deg) rotate(-20deg);
  }
  /* line 121, ../sass/app.scss */
  .doorSign p {
    font-size: 60%;
    font-family: sans-serif;
    color: white;
    margin-top: 5%;
  }
}
/*******************************************************/
/* Shop Large */
@media only screen and (min-width: 979px) {
  /* line 1, ../sass/_responsive.scss */
  .col {
    height: 0%;
    width: 100%;
    background: transparent;
    position: relative;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    display: inline-block;
  }
  /* line 8, ../sass/_responsive.scss */
  .col .spacer {
    position: inherit;
    padding-top: 100%;
  }

  /* line 13, ../sass/_responsive.scss */
  .grid {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    position: absolute;
    background: linear-gradient(#2098d1 10%, #f69066 55%, #75c700 70%) no-repeat;
    box-sizing: border-box;
    padding: 0;
    border: 1px solid #0000e6;
  }

  /* ----------------------------------------------*/
  /* john drawing css made with rectangle and circle with some transform */
  /* line 3, ../sass/_john.scss */
  .john {
    height: 35%;
    width: 20%;
    background: transparent;
    position: absolute;
    margin-top: 53%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 2%;
  }
  /* line 6, ../sass/_john.scss */
  .john .johnFace {
    height: 30%;
    width: 45%;
    background: gray;
    position: absolute;
    margin-top: 12%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 30%;
    -ms-transform: skewX(8deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(8deg) rotate(0deg);
    /* Safari */
    transform: skewX(8deg) rotate(0deg);
  }
  /* line 11, ../sass/_john.scss */
  .john .johnHair {
    height: 13%;
    width: 50%;
    background: black;
    position: absolute;
    border-radius: 50% 180% 180% 180%;
    margin-top: -2%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 26%;
    -ms-transform: skewX(8deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(8deg) rotate(0deg);
    /* Safari */
    transform: skewX(8deg) rotate(0deg);
  }
  /* line 16, ../sass/_john.scss */
  .john .johnHairFront {
    height: 13%;
    width: 40%;
    background: black;
    position: absolute;
    border-radius: 80%;
    margin-top: 0;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 46%;
    -ms-transform: skewY(15deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewY(15deg) rotate(0deg);
    /* Safari */
    transform: skewY(15deg) rotate(0deg);
  }
  /* line 21, ../sass/_john.scss */
  .john .johnEar {
    height: 7%;
    width: 10%;
    background: gray;
    position: absolute;
    border-radius: 40% 0 0 40%;
    margin-top: 25%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 25%;
    -ms-transform: skewX(15deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(15deg) rotate(0deg);
    /* Safari */
    transform: skewX(15deg) rotate(0deg);
  }
  /* line 26, ../sass/_john.scss */
  .john .johnEyeRight {
    height: 5%;
    width: 9%;
    background: black;
    position: absolute;
    border-radius: 80%;
    margin-top: 25%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 58%;
    border: .4em solid white;
  }
  /* line 31, ../sass/_john.scss */
  .john .johnEyeLeft {
    height: 5%;
    width: 9%;
    background: black;
    position: absolute;
    border-radius: 80%;
    margin-top: 25%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 68%;
    border: .4em solid white;
  }
  /* line 36, ../sass/_john.scss */
  .john .johnNose {
    height: 4%;
    width: 12%;
    background: gray;
    position: absolute;
    border-radius: 0 40% 40% 0;
    margin-top: 35%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 68%;
    -ms-transform: skewX(19deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(19deg) rotate(0deg);
    /* Safari */
    transform: skewX(19deg) rotate(0deg);
  }
  /* line 41, ../sass/_john.scss */
  .john .johnMouth {
    height: 2%;
    width: 10%;
    background: darkgray;
    position: absolute;
    border-radius: 40% 0 0 40%;
    margin-top: 45%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 67%;
    -ms-transform: skewX(30deg) rotate(15deg);
    /* IE 9 */
    -webkit-transform: skewX(30deg) rotate(15deg);
    /* Safari */
    transform: skewX(30deg) rotate(15deg);
  }
  /* line 46, ../sass/_john.scss */
  .john .johnBody {
    height: 30%;
    width: 40%;
    background: pink;
    position: absolute;
    margin-top: 68%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 34%;
    -ms-transform: skewY(8deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewY(8deg) rotate(0deg);
    /* Safari */
    transform: skewY(8deg) rotate(0deg);
  }
  /* line 51, ../sass/_john.scss */
  .john .johnHand {
    height: 7%;
    width: 40%;
    background: darkgray;
    position: absolute;
    border-radius: 0 90% 90% 0;
    margin-top: 85%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 25%;
    -ms-transform: skewX(5deg) rotate(-45deg);
    /* IE 9 */
    -webkit-transform: skewX(5deg) rotate(-45deg);
    /* Safari */
    transform: skewX(5deg) rotate(-45deg);
  }
  /* line 56, ../sass/_john.scss */
  .john .johnHandWrist {
    height: 8%;
    width: 35%;
    background: darkgray;
    position: absolute;
    border-radius: 90%;
    margin-top: 99%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 30%;
    -ms-transform: skewX(50deg) rotate(185deg);
    /* IE 9 */
    -webkit-transform: skewX(50deg) rotate(185deg);
    /* Safari */
    transform: skewX(50deg) rotate(185deg);
  }
  /* line 61, ../sass/_john.scss */
  .john .johnShoppingBagHang {
    height: 10%;
    width: 15%;
    background: transparent;
    position: absolute;
    border-radius: 90% 90% 0 0;
    margin-top: 97%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 56%;
    -ms-transform: skewX(10deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(10deg) rotate(0deg);
    /* Safari */
    transform: skewX(10deg) rotate(0deg);
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
  /* line 68, ../sass/_john.scss */
  .john .johnShoppingBag {
    height: 30%;
    width: 45%;
    background: green;
    position: absolute;
    margin-top: 105%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 42%;
    border-bottom: 8px outset brown;
    border-left: 8px solid brown;
  }
  /* line 74, ../sass/_john.scss */
  .john .johnLeg {
    height: 30%;
    width: 25%;
    background: blue;
    position: absolute;
    margin-top: 118%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 42%;
    -ms-transform: skewX(15deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(15deg) rotate(0deg);
    /* Safari */
    transform: skewX(15deg) rotate(0deg);
  }
  /* line 79, ../sass/_john.scss */
  .john .johnShoeRight {
    height: 4%;
    width: 20%;
    background: black;
    position: absolute;
    border-radius: 0 40% 20% 0;
    margin-top: 160%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 47%;
    border-right: 4px solid white;
  }
  /* line 84, ../sass/_john.scss */
  .john .johnShoeLeft {
    height: 4%;
    width: 20%;
    background: black;
    position: absolute;
    border-radius: 0 40% 20% 0;
    margin-top: 160%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 60%;
  }

  /* Shop with big car */
  /* line 140, ../sass/app.scss */
  .roof {
    height: 15%;
    width: 55%;
    background: #106000;
    position: absolute;
    border-radius: 130% 10% 0 0;
    margin-top: 35%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 45.33%;
  }

  /* line 144, ../sass/app.scss */
  .wall {
    height: 35%;
    width: 50%;
    background: blue;
    position: absolute;
    margin-top: 50%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 50%;
  }
  /* line 147, ../sass/app.scss */
  .wall .window {
    height: 60%;
    width: 60%;
    background: white;
    position: absolute;
    margin-top: 10%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 3%;
  }
  /* line 150, ../sass/app.scss */
  .wall .window table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 2;
  }
  /* line 155, ../sass/app.scss */
  .wall .window table, .wall .window td, .wall .window th {
    border: 1px solid black;
  }
  /* line 158, ../sass/app.scss */
  .wall .window .smallWindow {
    visibility: hidden;
  }
  /* line 161, ../sass/app.scss */
  .wall .window .largeWindow {
    visibility: visible;
  }

  /* line 166, ../sass/app.scss */
  .car1 {
    visibility: hidden;
  }

  /* Large car */
  /* line 170, ../sass/app.scss */
  .car2 {
    position: absolute;
    height: 60%;
    width: 60%;
    background: white;
    position: absolute;
    margin-top: 10%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 3%;
    z-index: 1;
  }
  /* line 175, ../sass/app.scss */
  .car2 .car2Body {
    height: 20%;
    width: 75%;
    background: #ff0000;
    position: absolute;
    margin-top: 45%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 25%;
    border: 2px solid #C0C0C0;
  }
  /* line 180, ../sass/app.scss */
  .car2 .car2Storage {
    height: 20%;
    width: 25%;
    background: #ff0000;
    position: absolute;
    margin-top: 40%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 1%;
    border: 2px solid #C0C0C0;
    -ms-transform: skewY(25deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewY(25deg) rotate(0deg);
    /* Safari */
    transform: skewY(25deg) rotate(0deg);
  }
  /* line 186, ../sass/app.scss */
  .car2 .car2Bonet {
    height: 15%;
    width: 20%;
    background: #ff0000;
    position: absolute;
    margin-top: 35%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 12%;
    border: 2px solid #C0C0C0;
    -ms-transform: skewX(65deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(65deg) rotate(0deg);
    /* Safari */
    transform: skewX(65deg) rotate(0deg);
  }
  /* line 192, ../sass/app.scss */
  .car2 .car2BackGlass {
    height: 16%;
    width: 22%;
    background: #ff0000;
    position: absolute;
    margin-top: 30%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 23%;
    -ms-transform: skewY(0deg) rotate(25deg);
    /* IE 9 */
    -webkit-transform: skewY(0deg) rotate(25deg);
    /* Safari */
    transform: skewY(0deg) rotate(25deg);
    border: 2px solid #C0C0C0;
  }
  /* line 198, ../sass/app.scss */
  .car2 .car2Roof {
    height: 13%;
    width: 27%;
    background: #ff0000;
    position: absolute;
    margin-top: 26%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 36%;
    -ms-transform: skewX(65deg) rotate(0deg);
    /* IE 9 */
    -webkit-transform: skewX(65deg) rotate(0deg);
    /* Safari */
    transform: skewX(65deg) rotate(0deg);
    border: 2px solid #C0C0C0;
  }
  /* line 204, ../sass/app.scss */
  .car2 .car2Window {
    height: 20%;
    width: 10%;
    background: #ff0000;
    position: absolute;
    margin-top: 33%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 77%;
    -ms-transform: skewX(65deg) rotate(10deg);
    /* IE 9 */
    -webkit-transform: skewX(65deg) rotate(10deg);
    /* Safari */
    transform: skewX(65deg) rotate(10deg);
    border: 2px solid #C0C0C0;
  }
  /* line 210, ../sass/app.scss */
  .car2 .car2WheelFront {
    height: 23.5%;
    width: 16.65%;
    background: #5e4545;
    position: absolute;
    border-radius: 80%;
    margin-top: 50%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 65%;
    border: 8px solid #C0C0C0;
  }
  /* line 215, ../sass/app.scss */
  .car2 .car2WheelRear {
    height: 23.5%;
    width: 16.65%;
    background: #5e4545;
    position: absolute;
    border-radius: 80%;
    margin-top: 50%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 35%;
    border: 8px solid #C0C0C0;
  }

  /* line 221, ../sass/app.scss */
  .door {
    height: 90%;
    width: 30%;
    background: #fff;
    position: absolute;
    margin-top: 7%;
    margin-right: inherit;
    margin-bottom: inherit;
    margin-left: 65%;
  }
  /* line 224, ../sass/app.scss */
  .door .doorHandle {
    height: 10%;
    width: 10%;
    background: #106088;
    position: relative;
    border-radius: 90%;
    margin-top: 100%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5%;
  }

  /* line 229, ../sass/app.scss */
  .doorSign {
    height: 7%;
    width: 50%;
    background: blue;
    position: absolute;
    margin-top: 65%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 20%;
    -ms-transform: skewX(0deg) rotate(-20deg);
    /* IE 9 */
    -webkit-transform: skewX(0deg) rotate(-20deg);
    /* Safari */
    transform: skewX(0deg) rotate(-20deg);
  }
  /* line 233, ../sass/app.scss */
  .doorSign p {
    font-size: 60%;
    font-family: sans-serif;
    color: white;
    margin-top: 5%;
  }
}
/*******************************************************/
/* Scene for very-Large Screen. */
